In [3]:
import pandas as pd

import numpy as np

In [4]:
df_datos_abc=pd.read_csv("hr_raw_data.csv",index_col=0)

Nuestra misión es identificar factores clave que influyen en la satisfacción en el trabajo y en la retención de empleados

Comentarios sobre el csv:
- 1678 filas
- 41 columnas
- size: 68798
- employee number PK
- NaN = Null

Analise sobre el csv:
- Investigar columna 'attrition'
- Investigar columna 'dailyrate'
- Investigar columna 'employeecount'
- Investigar columna 'same as monthy income'
- Distance from Home: cual es el rango?
- Education: a que nivel equipara?
- Analizar la columna years at company con la columna attrition (las dos tienen temas en comum)
- Calcular años en el role actual (years in current role) - Calcular los years at company & years since last promotion 
- Years since last promotion and years with current manager (investigar promociones internas para mandos superiores - current manager cambio o no)

In [5]:
df_datos_abc.head()

,age,attrition,businesstravel,dailyrate,department,distancefromhome,education,educationfield,employeecount,employeenumber,...,yearsatcompany,yearsincurrentrole,yearssincelastpromotion,yearswithcurrmanager,sameasmonthlyincome,datebirth,salary,roledepartament,numberchildren,remotework
0,51,No,NaN,2015.722222,NaN,6,3,NaN,1,1,...,20,NaN,15,15,"16280,83$",1972,"195370,00$",NaN,NaN,Yes
1,52,No,NaN,2063.388889,NaN,1,4,Life Sciences,1,2,...,33,NaN,11,9,NaN,1971,"199990,00$",NaN,NaN,1
2,42,No,travel_rarely,1984.253968,Research & Development,4,2,Technical Degree,1,3,...,22,NaN,11,15,NaN,1981,"192320,00$",ManaGER - Research & Development,NaN,1
3,47,No,travel_rarely,1771.404762,NaN,2,4,Medical,1,4,...,20,NaN,5,6,"14307,50$",1976,"171690,00$",NaN,NaN,False
4,46,No,NaN,1582.771346,NaN,3,3,Technical Degree,1,5,...,19,NaN,2,8,"12783,92$",1977,NaN,NaN,NaN,0

In [ ]:
df_datos_abc.shape # filas #columnas

(1678, 41)

In [9]:
df_datos_abc.columns

Index(['age', 'attrition', 'businesstravel', 'dailyrate', 'department',
       'distancefromhome', 'education', 'educationfield', 'employeecount',
       'employeenumber', 'environmentsatisfaction', 'gender', 'hourlyrate',
       'jobinvolvement', 'joblevel', 'jobrole', 'jobsatisfaction',
       'maritalstatus', 'monthlyincome', 'monthlyrate', 'numcompaniesworked',
       'over18', 'overtime', 'percentsalaryhike', 'performancerating',
       'relationshipsatisfaction', 'standardhours', 'stockoptionlevel',
       'totalworkingyears', 'trainingtimeslastyear', 'worklifebalance',
       'yearsatcompany', 'yearsincurrentrole', 'yearssincelastpromotion',
       'yearswithcurrmanager', 'sameasmonthlyincome', 'datebirth', 'salary',
       'roledepartament', 'numberchildren', 'remotework'],
      dtype='object')

In [10]:
df_datos_abc.size

68798

In [11]:
df_datos_abc.dtypes

age                          object
attrition                    object
businesstravel               object
dailyrate                   float64
department                   object
distancefromhome              int64
education                     int64
educationfield               object
employeecount                 int64
employeenumber                int64
environmentsatisfaction       int64
gender                        int64
hourlyrate                  float64
jobinvolvement                int64
joblevel                      int64
jobrole                      object
jobsatisfaction               int64
maritalstatus                object
monthlyincome                object
monthlyrate                  object
numcompaniesworked            int64
over18                       object
overtime                     object
percentsalaryhike             int64
performancerating            object
relationshipsatisfaction      int64
standardhours                object
stockoptionlevel              int64
totalworkingyears            object
trainingtimeslastyear         int64
worklifebalance              object
yearsatcompany                int64
yearsincurrentrole           object
yearssincelastpromotion       int64
yearswithcurrmanager          int64
sameasmonthlyincome          object
datebirth                     int64
salary                       object
roledepartament              object
numberchildren              float64
remotework                   object
dtype: object